@model GamingHub2.Model.IgraDetaljiVM

@{
    ViewData["Title"] = "Detalji";
}


<div>
    <h4>Detalji igre</h4>
    <hr />


    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Developer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Developer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Izdavac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Izdavac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumIzlaska)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumIzlaska)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SlikaLink)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.SlikaLink))
            {
                <img src="@Model.SlikaLink" style="max-width:320px; max-height:520px" /> }
            else
            {
                <img src="~/img/no-game.jpg" style="max-width:320px; max-height:520px" />
            }
        </dd>
    </dl>
</div>
<div id="ajaxDiv" style="border:1px solid red">

</div>
<script>
    function UcitajStavke() {
        $.get("/IgraZanr/Index?IgraID=@Model.Id", function (d) {
            $("#ajaxDiv").html(d);
        })
    }
    UcitajStavke();
</script>
@*
        function StavkaDodaj(IgraID) {
            $.get("/IgraZanr/Dodaj?IgraID=" + IgraID,
                function (d) {
                    $("#ajaxDiv").html(d);
                });
        }

        function StavkaSnimi() {
            var form = $("#IgraZanrForma");
            var url = "/IgraZanr/Snimi";
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) { UcitajStavke(); }
            });
        }
        function StavkaObrisi(IgraZarnID) {
            $.get("/IgraZanr/Obrisi?IgraZarnID=" + IgraZarnID,
                function (d) {
                    UcitajStavke();
                });
        }

    </script>*@

<div>

    <a asp-action="Index">Natrag na listu</a>
</div>
