@model GamingHub2.Model.Requests.IgraUpsertRequest

@{
    ViewData["Title"] = "Dodaj";
}
<style>
    #sredisnjisadrzaj {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 3% 7%;
        max-width: 100%;
        background-image: url("../img/dark-wallpaper.jpg");
        background-size: cover;
    }

    html {
        background-size: cover;
        background: #4c4c4c;
        background-image: url(../img/dark-wallpaper.jpg);
    }
</style>

<h4>Dodaj/Uredi igru</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Uredi" asp-controller="Igra" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Id" readonly hidden class="control-label"></label>
            <input asp-for="Id" readonly hidden class="form-control" />*@
                @*<span asp-validation-for="Id" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Developer" class="control-label"></label>
                <input asp-for="Developer" class="form-control" />
                <span asp-validation-for="Developer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Izdavac" class="control-label"></label>
                <input asp-for="Izdavac" class="form-control" />
                <span asp-validation-for="Izdavac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumIzlaska" class="control-label"></label>
                <input asp-for="DatumIzlaska" class="form-control" />
                <span asp-validation-for="DatumIzlaska" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="stringSlika" class="control-label"></label><br />
                @if (!string.IsNullOrEmpty(Model.stringSlika))
                {
                    <img src="@Model.stringSlika" style="max-width:100px; max-height:100px" />
                }
                <input asp-for="stringSlika" type="file" name="file" id="file" />
                <span asp-validation-for="stringSlika" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ListaKonzola" class="control-label"></label><br />

                @for (int i = 0; i < Model.ListaKonzola.Count; i++)
                {
                    <label asp-for="@Model.ListaKonzola[i].Text">@Model.ListaKonzola[i].Text</label>
                    <input asp-for="@Model.ListaKonzola[i].IsChecked" type="checkbox" />
                    <input type="hidden" asp-for="@Model.ListaKonzola[i].KonzolaId" />

                 }
            </div>
            <br />
            <div class="form-group" id="Zanrovi">
                <label asp-for="ListaZanrova" class="control-label"></label><br />

                @for (int i = 0; i < Model.ListaZanrova.Count; i++)
                {
                    <label asp-for="@Model.ListaZanrova[i].Text">@Model.ListaZanrova[i].Text</label>
                    <input asp-for="@Model.ListaZanrova[i].IsChecked" type="checkbox" />
                    <input type="hidden" asp-for="@Model.ListaZanrova[i].KonzolaId" />
                }
            </div>

            <div class="form-group">
                <div class="dugmad">
                    <input type="submit" value="Snimi" class="dugme-read">  <a asp-action="Index" type="button" class="dugme-read dugme-cancel">Odustani</a>
                </div>
            </div>
        </form>
    </div>
</div>

