@model IEnumerable<GamingHub2.Model.Recenzija>

@{
}

<head>
    <!-- icons -->
    <link rel="stylesheet" href="~/assets/css/icons.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="/css/headerandfooter.css">

    <style>
        #sredisnjisadrzaj {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 3% 7%;
            max-width: 100%;
             background-image: url("../img/grey-background.png");
            background-image: url(../img/dark-wallpaper.jpg);
            background-size: contain;
        }

        html, body {
            background-size: cover;
            background-image: url(../img/dark-wallpaper.jpg);
        }

        .card {
            background-color: rgba(0, 0, 0, 0.5);
             max-width: 100%;
        }
        .container {
            margin: 1.5% auto;
        }
    </style>

</head>



<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h2 class="my-4" style="color:white;">
                Prikaz recenzija
            </h2>
            <br />
            <a href="/Recenzija/Dodaj" class="btn btn-secondary">Dodaj recenziju</a>
            <br /><br />
            <!-- Blog Recenzija -->
            @foreach (var r in Model)
            {
                <div class="card bg-light mb-4">

                    @if (!string.IsNullOrEmpty(r.stringSlika))
                    {
                        @*<img src="@Model.Slika" style="max-width:320px; max-height:520px" /> }*@
                        <img class="card-img-top" alt="Card image cap" src="@r.stringSlika" style="max-width:750px; max-height:250px" />
                    }
                    else
                    {
                        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    }

                    <div class="card-body">
                        <h2 class="card-title">@r.Naslov</h2>
                        <p class="card-text"> @r.Sadrzaj.Substring(0, 200) ...</p>
                        <a href="/Recenzija/Detalji?RecenzijaID=@r.ID" class="btn btn-primary">Procitaj vise &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        <a href="#"> @r.KorisnikNaziv </a> / @(r.DatumObjave.ToString("dd.MM.yyyy"))
                    </div>
                </div>
            }

        </div>
    </div>
</div>