@model IEnumerable<GamingHub2.Model.Zanr>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GamingHub2.WebApp2</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">
    <link asp-append-version="true" rel="stylesheet" href="/css/headerandfooter.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        #sredisnjisadrzaj {
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 3% 3%;
            max-width: 100%;
            background-image: url("../img/grey-background.png");
            background-size: cover;
        }

        html {
            background-size: cover;
            background-image: url(../img/dark-wallpaper.jpg);
        }

        .dugme-read {
            margin: 1% 0 1%;
            padding: 0;
        }
    </style>
</head>
<body>
    <p>
        <a  type="button" class="btn btn-secondary" asp-action="Uredi">Dodaj žanr</a>
    </p>


    @using (Html.BeginForm("Index", "Zanr", FormMethod.Get))
    {
        @Html.TextBox("Naziv")
        <input type="submit" name="submit" value="Traži"  class="dugme-read" />
    }

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Opis)
                </th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opis)
                    </td>
                    <td>
                        <a type="button" class="btn btn-secondary" href="/Zanr/Uredi/@item.ID">Uredi</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>